<html>
    <head>
        <meta charset="UTF-8">
        <title>Awesome-Charts</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    </head>
    <body>
        <div id="chart-wrapper">
            <canvas id="myChart" style="display: block; height: 235px;width: 470px" width="800" height="400"></canvas>
        </div>
    <script>
        let ctx = document.getElementById("myChart").getContext("2d");
        let myChart = new Chart(ctx, {{ . }});
    </script>
    </body>

</html>